* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  padding: 20px;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
}

main {
  width: 840px;
  margin: 50px auto;
}

.webcamp {
  margin-bottom: 30px;
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}

.webcamp-pro {
  margin-bottom: 30px;
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}

.webcamp-woman {
  margin-bottom: 30px;
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}

.webcamp-career {
  margin-bottom: 30px;
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}
